# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
stuff.jpg
ch14_ex1.pyc
Beginning Python/hello.pyc
cover.jpg
Adventure/1.png
Adventure/2.png
Adventure/3.png
Adventure/4.png
*.sqlite
Adventure/adventure9/copyright.txt
Beginning Python/thumb.jpg
Beginning Python/test.jpg
Adventure/thumb.jpg
Adventure/monkey.gif
Adventure/images/down1.png
Adventure/images
Adventure/adventure9/*.png
Adventure/adventure9/*.wav
Adventure/adventure9/*.mp3


.idea
pycahrm注册码
